<html>
<head>
	<title>Friendography Sign in</title>	
</head>

<body>
	<p><%= flash[:notice] %></p>

<%= form_tag({controller: "search", action: "search"}, method: "get", class: "search_form") do %>
  <%= submit_tag("Search") %>
<% end %>

</body>
</html>
