<%# encoding: utf-8 %>

<section id="aboutUs">
	<div>
		<p>Hey there! We love to travel but we're less interested in seeing the sights than in having fun and authentic experiences in new places.</p> 

		<p>We believe a great trip isn't just the place you go. We think great trips are experiences you share with great people in new and interesting places.</p>

		<p>Social media and social networks are useful for inspiring trips, getting tips and recruiting accomplices. But the way they're organized makes it easy to lose track of people and get lost in a sea of information. They're frustrating to use for trip planning or figuring out who can show us around.</p>
		
		<p>So we've built Friendography to help us do that better.</p>
		
		<p>Friendography is a social-centric travel dashboard that lets you quickly size up trip destinations based on people, place and price. You sign in with Facebook and we display your friends on a map. You click on a bubble and we show you how much it costs to get there. Simple!</p>
		
		<p>
			But we have a bigger vision. Down the road, we'd like to: 
			<ul>
				<li>Organize your travel-related social media so you can source great trip ideas from people you know and trust.</li>
				<li>Show where you can find friends or connections to unlock the best moments of your journey</li>
				<li>Suggest great trips based on things you like - sporting events, concerts, festivals etc.</li>
				<li>Build an easy-to-use pin board you can use to plan and update different trip ideas</li>
			</ul>
		</p>
		
		<p>We think Friendography is going to change the way you travel. In the meantime, let us know what you think - we'd love to hear from you!</p>
		
		-The Friendography Team
	</div>	
</section>
