<section id="faq">	
	<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#question1">
	          <div class="faqQuestion">Q: </div>Where do the locations for friends come from?
	        </a>
	      </h4>
	    <div id="question1" class="panel-collapse collapse in">
	      <div class="panel-body">
	      	We get all locations on the map straight from Facebook for each friend.  Each locaiton has the same geocode pair that Facebook uses too.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#question2">
	          <div class="faqQuestion">Q: </div>Why is every airport not available?
	        </a>
	      </h4>
	    <div id="question2" class="panel-collapse collapse">
	      <div class="panel-body">
	      	There is no publicly available list of what airports are best for every city, so we're building that on our own from various sources and in some cases mapping the airports we feel are the best match by hand.  The list will improve over time, but indeed if there is glaring mismatch, please do contact us through the feedback form and let us know.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#question3">
	          <div class="faqQuestion">Q: </div>Where is Friendography from?
	        </a>
	      </h4>
	    <div id="question3" class="panel-collapse collapse">
	      <div class="panel-body">
	      	We're in Berlin, it's a cool city, but heck we might branch out to other locations too.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#question4">
	          <div class="faqQuestion">Q: </div>Why should I log in with my Facebok account?
	        </a>
	      </h4>
	    <div id="question4" class="panel-collapse collapse">
	      <div class="panel-body">
	      	The Friendography travel search service is entirely map driven, based on where your Facebook friends live to show you the best places to travel, so it only works with a Facebook login.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#question5">
	          <div class="faqQuestion">Q: </div>What do you do with my Facebook information?
	        </a>
	      </h4>
	    <div id="question5" class="panel-collapse collapse">
	      <div class="panel-body">
	      	When you log in with your Facebook account, we query Facebook for your friends who have elected to share the city or town they live in and plot it on the map, then use that list of locations to make the travel links.  That's it!  We do not store this information except to show it to you on your browser.  No storing, no sharing, no posting on your timeline.  But if you want to "Like" us or share us on your timeline, we would always appreciate the attention ;)
	      </div>
	    </div>
	  </div>
	</div>
</section>
