<%# encoding: utf-8 %>
<section id="faq">	
	<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#question1">
	          <div class="faqQuestion">Q: </div>What do I do? How does it work?
	        </a>
	      </h4>
	    <div id="question1" class="panel-collapse collapse in">
	      <div class="panel-body">
	      	<p>Log in with Facebook and give us the necessary permissions so we can see your friends' names, profile photos and current cities. Hit search, and when your friend map loads, zoom in to see where you have contacts.</p>
			<p>Click on the pink bubbles to see which friends live in that area. Click on the "See flights to" bar at the top of the friend box to see airfares in the right pane.</p>
			<p>You can customize your dates using the "Customize Dates" box.</p>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#question2">
	          <div class="faqQuestion">Q: </div>Why do I have to log in with Facebook?
	        </a>
	      </h4>
	    <div id="question2" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<p>Friendography is different from other online travel sites because we think local connections (e.g. friends, friends of friends) are important for deciding where to travel. You can get a richer experience with a place, its culture and people if you can get someone to give you the inside scoop. Heck, depending on how close the contact is, they might even let you crash on their couch or take you out with their friends!</p>
			<p>Logging in with Facebook allows us to display your contacts geographically and give you a sense of who is where, and who you might enjoy your trip with. Without it, Friendography can't work :(</p>
			<p><strong>Sign in with confidence. We won't share your private information or post to your timeline, ever.</strong></p> 
			<p>That said, please do like us on Facebook and share us with your friends!</p>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#question3">
	          <div class="faqQuestion">Q: </div>What information do you use from my Facebook account?
	        </a>
	      </h4>
	    <div id="question3" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<p>Once you give us permission, we ask Facebook for a list of your friends, their current cities and their profile photo. We use this to display your friends on the friend map.</p>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#question4">
	          <div class="faqQuestion">Q: </div>Why are some of my friends not showing up?
	        </a>
	      </h4>
	    <div id="question4" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<p>Some of your friends may have privacy settings that prevent services like Friendography from seeing their current location. Without that, we can't plot them on the map.</p>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#question5">
	          <div class="faqQuestion">Q: </div>Why is my friend showing up in the wrong location?
	        </a>
	      </h4>
	    <div id="question5" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<p>We use the "current city" field on Facebook to figure out where your friends are. If they haven't updated this information, they'll show up in the wrong place. Write them to ask they update their current location!</p>
	      	<p>If you think there's a bug or the map is displaying locations incorrectly, write us in the feedback tab! Thanks for helping us improve Friendography!</p>
	      </div>
	    </div>
	  </div>	  
	  <div class="panel panel-default">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#question6">
	          <div class="faqQuestion">Q: </div>I want to fly out of a different city. Can I change it?
	        </a>
	      </h4>
	    <div id="question6" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<p>
	      		Yes you can! We use your "current city" on Facebook to figure out where you live and where you'd most likely fly from. All of your flights originate from that location by default, but you can use the "Pick Your Own Airports" feature to change both arrival and departure locations. You can find this feature under the "Customize Dates & More" button.
	      	</p>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#question7">
	          <div class="faqQuestion">Q: </div>Why does Friendography return flights to a different city than where my friend is?
	        </a>
	      </h4>
	    <div id="question7" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<p>A lot of small towns and cities have airports, but they aren't serviced by our airfare partner or are too expensive to fly into. We try to strike a balance between price and convenience, but show results for major airports because fares are usually cheaper.</p>
			<p>However, we've added a "Pick Your Own Airports" feature that allows you to change both arrival and departure locations and airports. You can find this feature under the "Customize Dates & More" button.</p>
			<p>If you think we've overlooked a good option or made a mistake, drop us a note through the feedback tab. Thanks for helping us improve Friendography!</p>
	      </div>
	    </div>
	  </div>	  
	</div>
</section>
