<section class="flights">
	<!-- hidden div that has spinner image -->
	<div id="LoadingDiv" align="center">
		<img src="/images/AjaxThrober.gif" alt=""/>
	</div>
	<div class="flightResults" style="position: relative;"></div>
	       
</section>

<script>
	$(document).ajaxStart(function() {
		$('.flightResults').css("top", "35px");
		var content = $('.flightResults').innerHTML;
		$('#LoadingDiv').css("display", "block");
		$('#LoadingDiv').append(content).slideDown("slow");
	});	
	
	$(document).ajaxComplete(function() {
		var ldiv = document.getElementById('LoadingDiv');
		ldiv.style.display='none';
		$('.flightResults').css("top", "-5px");
	});
	
	$(function() {
		$( "#orig" ).autocomplete({
	  		source: function (request, response) {
	  			$.ajax({
	  				type: 'GET',
	 				url: "/smartfill",
	 				data: { locationKeyword: request.term },
	 				dataType: "json",
	 				global: false,
	 				success:  function (data) {
	 					response($.map(data, function(item) {
	 					console.log(item['loc.smartFill_en_US_AIR'])
	            			return {
	                			label: item['loc.smartFill_en_US_AIR'],
	                			id: item['loc.id']
	                        };
	             		}));
				 	}
	         	});     	      	
	      	}, 
	      	autoFocus: true,                      
	      	minLength: 3,
	      	delay: 100
	    });
	    
	    $( "#dest" ).autocomplete({
	  		source: function (request, response) {
	  			$.ajax({
	  				type: 'GET',
	 				url: "/smartfill",
	 				data: { locationKeyword: request.term },
	 				dataType: "json",
	 				global: false,
	 				success:  function (data) {
	 					response($.map(data, function(item) {
	 					console.log(item['loc.smartFill_en_US_AIR'])
	            			return {
	                			label: item['loc.smartFill_en_US_AIR'],
	                			id: item['loc.id']
	                        };
	             		}));
				 	}
	         	});     	      	
	      	}, 
	      	autoFocus: true,                      
	      	minLength: 3,
	      	delay: 100
	    });
	});
</script>