<section id="footerData">	
	<div id="rights" style="display: inline; padding-right: 30px; font-size: 10px;">
		2014 Friendography.com. All rights reserved.
	</div>
	<div class="fb-like" data-href="https://www.facebook.com/friendography/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
	<div id="instructions" style="display: inline; padding-left: 20px;"></div>
</section>
