<%# encoding: utf-8 %>

<section id="impressum">
	<div style="padding-top: 20px">
		<p>Friendography is operated by Junayd Mahmood and Lester Perez</p>
		<div style="padding-left: 20px">
			<p>
				ESMT GmbH, <br/>
				c/o MBA Office, <br/>
				Friendography - ESMT Innovation Lab, <br/>
				Schlossplatz 1, 10178 Berlin, GERMANY <br/>
			</p>
		</div>
		<p><h5>friendography@gmail.com</h5></p>
	</div>
</section>