<html>
<head>
	<title>Friendography Sign in</title>	
</head>

<body>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : <%= FB_APP_ID %>,                        // App ID from the app dashboard
      channelUrl : '//localhost:3000/channel.html', 		// Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : true,                                  // Look for social plugins on the page
      cookie	 : true
    });

    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK Asynchronously
(function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
 }(document));

$(function() {
  $(".fb-login-button").click(function() {
    FB.login(function() {
      if (response.authResponse) {
        console.log("Welcome! Fetching your information...");
        $.cookie("user_id", response.authResponse.userID);
        $.cookie("access_token", response.authResponse.accessToken);
        window.location = "#{oauth_facebook_callback_url}";
      } else {
        console.log("User cancelled login or did not fully authorize.");
      }
    }, {scope: 'publish_stream,offline_access,email,user_location,user_likes,user_checkins,friends_location,friends_hometown,friends_likes'});
  });
});
</script>

<p>index.html - Sign in to Facebook to see where your friends are!</p>
<div class="fblogin">
	<fb:login-button show-faces="true" width="200" max-rows="1" 
	scope="friends_location, friends_hometown, friends_likes, friends_about_me, user_checkins, user_location, user_hometown">
	</fb:login-button>
</div>

</body>
</html>
