#footerData {
	padding: 10px;
}

#rights {
	display: inline; 
	padding-right: 30px; 
	font-size: 10px;
}

#email_drop {
	display: inline;
	padding-left: 20px;
}

#email_drop div {
	display: inline;
	vertical-align: middle;
	line-height: 20px;
}
