.customizeLine {
	overflow: hidden;
	white-space: nowrap;
}

#paramsDisplayText {
	display: inline-block; 
	font-size: 10px; 
	overflow: hidden;
	white-space: nowrap;
}

.dateInput {
	display:block;
}

.searchParams#customize {
	background-color: #CCCCCC;
}
